@model Restaurant.Models.NewOrderModel
@{
    Layout = null;
}
@using (Html.BeginForm(FormMethod.Post))
{@Html.ValidationSummary(true)
    <div class="form-row">
        <div class="form-group col-md-6">
            <h3>Новый заказ</h3>
        </div>
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-6">
            @Html.Label("Выберите столик")
            @Html.DropDownList("table", (IEnumerable<SelectListItem>)ViewBag.Tables, new { @class = "form-control", @id = "table" })
        </div>
        <div class="form-group col-md-6">
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Выберите блюда")
        </div>
    </div>
}
<div class="container" id="dishsPanel">
    <div class="row">
        <p class="h4">Общее количество блюд:</p>
        <p class="h4" id="allCount">0</p>
    </div>
    <div class="row">
        <p class="h4">Общая сумма:</p>
        <p class="h4" id="allPrice">0</p>
    </div>
    <div class="row">
        <input hidden id="shift" value="@ViewBag.Shift.Id" />
        <button class="btn btn-primary" id="createOrder">Создать заказ</button>
    </div>
    <div class="row justify-content-start">
        @foreach (var dish in ViewBag.Dishes)
        {
            <div class="card dish" id="@dish.Id" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@dish.Name</h5>
                    <p class="card-text">@dish.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Цена: @dish.Price руб.</li>
                </ul>
                <div class="card-footer btns">
                    <div class="row justify-content-center">
                        <button name="add" data-id="@dish.Id" data-price="@dish.Price" class="btn btn-success add"><p class="h5">+</p></button>
                        <p class="h5 mr-3 ml-3 mt-2 count" data-count="0">0</p>
                        <button data-id="@dish.Id" data-price="@dish.Price" class="btn btn-danger remove"><p class="h5">-</p></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/cart.js")

