@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Панель менеджера";
    <h3>Панель менеджера @ViewBag.Manager.User.Name</h3>
    if (ViewBag.Manager.IsWorkingNow == false)
    {
        @Html.ActionLink("Начать смену", "StartManagerShift", "Manager", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { id = ViewBag.Manager.Id });
    }
    if (ViewBag.Manager.IsWorkingNow == true)
    {
        @Html.ActionLink("Закончить смену", "StopManagerShift", "Manager", htmlAttributes: new { @class = "btn btn-danger" }, routeValues: new { id = ViewBag.Manager.Id });
        <div class="container-fluid">
            <div class="row">
                @{
                    if (ViewBag.TodayOrders != null)
                    {
                        <h3>Заказы за эту смену:</h3>
                        <div class="accordion" id="accordionExample">
                            <h5>Всего: @ViewBag.TodayOrders.Count</h5>
                            @foreach (var order in ViewBag.TodayOrders)
                            {
                            <div class="card">
                                @{
                                    var heading = $"heading{order.Id}";
                                    var collapse = $"collapse{order.Id}";
                                }
                                <div class="card-header" id="@heading">
                                    <h5 class="mb-0">
                                        @{
                                            var orderinfo = $"#заказа: {order.Id}; время заказа: {order.OrderTime.ToShortTimeString()}; #стола: {order.TableId}; название стола: '{order.Table.Name}';<br> официант: {order.Waiter.User.Name} {order.Waiter.User.LastName}";
                                        }
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@{@collapse}" aria-expanded="true" aria-controls="collapseOne">
                                            @orderinfo
                                        </button>
                                    </h5>
                                </div>
                                <div id="@collapse" class="collapse" aria-labelledby="@heading" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="card-text">Список блюд</p>
                                        <ul class="list-group list-group-flush">
                                            @{
                                                if (order.OrderDetails != null)
                                                {
                                                    foreach (var detail in order.OrderDetails)
                                                    {
                                                        <li class="list-group-item">@detail.Dish.Name x @detail.Quantity</li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li class="list-group-item">Пустой заказ</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <p>Общая сумма @order.FinalPrice</p>
                                        @{
                                            if (order.IsActive == true)
                                            {
                                                @Html.ActionLink("Завершить заказ", "CloseOrder", "Manager", htmlAttributes: new { @class = "btn btn-danger" }, routeValues: new { id = order.Id });
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }
}
