@model Restaurant.Models.WaiterFiltration
@{
    ViewBag.Title = "Официанты";
}
<div class="row">
    <h2>Официанты</h2>
</div>
<div class="row">
    <h3>Фильтрация официантов</h3>
</div>
<div class="row">
    @{
        var isWorkList = new SelectList(
            new List<SelectListItem>
            {
                new SelectListItem {Text = "Работают", Value = "1"},
                new SelectListItem {Text = "Работали ранее", Value = "0"},
                new SelectListItem {Text = "Все", Value = "2", Selected = true}
                                    }, "Value", "Text");
        var isWorkingNowList = new SelectList(
            new List<SelectListItem>
            {
                new SelectListItem {Text = "В текущей смене", Value = "1"},
                new SelectListItem {Text = "Не в текущей смене", Value = "0"},
                new SelectListItem {Text = "Все", Value = "2", Selected = true}
                                    }, "Value", "Text");
        using (Html.BeginForm())
        {
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(Model=>Model.IsWork, "Выберите, работает официант или уволен?")
                        @Html.DropDownListFor(Model => Model.IsWork, (IEnumerable<SelectListItem>)isWorkList, new { @class = "form-control", @id = "IsActive" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.IsWorkingNow, "Выберите, в текущей он смене или нет?");
                        @Html.DropDownListFor(Model => Model.IsWorkingNow, (IEnumerable<SelectListItem>)isWorkingNowList, new { @class = "form-control", @id = "Waiter" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.WaiterNameAndLastName, "Введите имя и фамилию");
                        @Html.TextBoxFor(Model => Model.WaiterNameAndLastName, new { @type = "text", @class = "form-control", @id = "OrderDate" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-row">
                        <button class="btn btn-success mb-2" type="submit" name="filter">Отфильтровать</button>
                    </div>
                </div>
            </div>
        }
    }
    </div>
<div class="row justify-content-start">
    @{
        if (ViewBag.Waiters != null)
        {
            foreach (var waiter in ViewBag.Waiters)
            {
                <div class="card dish" id="@waiter.Id" style="width: 20rem;">
                    <dvi class="card-header">
                        <p>@waiter.User.Name @waiter.User.LastName</p>
                    </dvi>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Почта: @waiter.User.Email</li>
                    </ul>
                    <div class="card-footer btns">
                        <div class="row">
                            @Html.ActionLink("Закончить смену", "RemoveWaiterFromShift", "Manager", routeValues: new {id = waiter.Id }, htmlAttributes: new { @class = "btn btn-danger"})
                        </div>
                    </div>
                </div>
            }
        }
    }

</div>
