@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ресторан</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    @Html.ActionLink("Ресторан", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @{
                    if (@User.IsInRole("manager"))
                    {
                        <li class="nav-item active">
                            @*Генреаиця ссылок пересылает на не верные страницы, поэтому указал явно
                            @Html.ActionLink("Список блюд", "DishsList", "Manager", htmlAttributes: new { @class = "nav-link" })*@
                            <a href="/Manager/DishsList/" class="nav-link">Список блюд</a>
                        </li>
                        <li class="nav-item active">
                            @*@Html.ActionLink("Список официантов", "WaitersList", "Manager", htmlAttributes: new { @class = "nav-link" })*@
                            <a href="/Manager/WaitersList/" class="nav-link">Список официантов</a>
                        </li>
                        <li class="nav-item active">
                            @*@Html.ActionLink("Список столов", "TablesList", "Manager", htmlAttributes: new { @class = "nav-link" })*@
                            <a href="/Manager/TablesList/" class="nav-link">Список столов</a>
                        </li>
                        <li class="nav-item active">
                            @*@Html.ActionLink("Список заказов", "OrdersList", "Manager", htmlAttributes: new { @class = "nav-link" })*@
                            <a href="/Manager/OrdersList/" class="nav-link">Список заказов</a>
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Менеджер", "Index", "Manager", htmlAttributes: new { @class = "nav-link" }, routeValues: new { id = User.Identity.GetUserId() })
                        </li>

                    }
                    if (User.IsInRole("waiter"))
                    {
                        <li class="nav-item active">
                            @Html.ActionLink("Официант", "Index", "Waiter", htmlAttributes: new { @class = "nav-link" }, routeValues: new { id = User.Identity.GetUserId() })
                        </li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ресторан на ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/vue.js")
    @RenderSection("scripts", required: false)
</body>
</html>
